
<h2><%=@contact.name%></h2>

<table>
	<thead>
		<tr>
			<th>Username</th>
			<th>Password</th>
		</tr>
	</thead>
	
	<tbody>
		<tr>
			<td><%=@contact.username%></td>	
			<td><%=@contact.pass%></td>
		</tr>	
	</tbody>
	

</table>